<%- model_class = Cron -%>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Logs da Cron</h2>
        <ol class="breadcrumb">
            <li><a href="<%= url_for :controller => 'home', :action => 'index' %>">Home</a></li>
            <li class="active"><strong>Logs da Cron</strong></li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<p id="notice"><%= notice %></p>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a href="#modal-form" data-toggle="modal" class="fa fa-search" ></a>

                        <div class="modal inmodal" id="modal-form" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <%= search_form_for @search, url: search_crons_path, method: :post do |f| %>
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Pesquisa</h4>
                                        </div>
                                        <div class="modal-body">
                                            <%= f.condition_fields do |c| %>
                                                <%= render "condition_fields", f: c %>
                                            <% end %>
                                            <p><%= link_to_add_fields "Adicionar condições", f, :condition %></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                                            <%= f.submit "Procurar", class: "btn btn-primary" %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover Tabela" >
                        <thead>
                            <tr>
                                <th width="02%">&nbsp</th>
                                <th width="05%">Id</th>
                                <th width="06%" style="text-align: center;">Xml Retorno</th>
                                <th width="10%">Data da Pesquisa</th>
                                <th style="display:none" >Cnpj</th>
                                <th>Mensagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= content_tag_for(:tr, @crons) do |cron| %>
                                <td><%= link_to '', cron, class: "btn btn-xs fa fa-search"%></td>
                                <td><%= cron.id %></td>
                                <td align="center"><%= link_to '', download_xml_retorno_crons_path(id: cron.id), class: "fa fa-download", 'data-toggle' => 'tooltip', title: 'Download Xml' %></td>
                                <td><%= cron.data %></td>
                                <td style="display:none"><%= cron.nome_completo_empresa %></td>
                                <td><%= cron.mensagem %></td>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>
    <script type="text/javascript">
        $(function() {
            var oTable = $('.Tabela').dataTable({  
                "bStateSave": true, 
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ 0,2,4,5 ] }
                ],
                "drawCallback": function ( settings ) {
                    var api = this.api();
                    var rows = api.rows( {page:'current'} ).nodes();
                    var last=null;

                    api.column(4, {page:'current'} ).data().each( function ( group, i ) {
                        if ( last !== group ) {
                            $(rows).eq( i ).before(
                                '<tr class="group"><td colspan="6">'+group+'</td></tr>'
                                );
                            last = group;
                        }
                    });
                },
                "iDisplayLength": 125,
                "aLengthMenu": [[125, 250, 400, 800, -1], [125, 250, 400, 800, "All"]]    
            });
        });
    </script>
<% end %>
