<%- model_class = Dominio -%>
<%= nested_form_for(@dominio, html: { class: "form-horizontal", role: "form", name: "form"  }) do |f| %>
  <% if @dominio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dominio.errors.count, "error") %> prohibited this dominio from being saved:</h2>
      <ul>
      <% @dominio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="ibox-content">
      <form method="get" class="form-horizontal">
        <div class="form-group">
          <%= f.label :descricao, class: "col-md-2 control-label" %>
          <div class="col-md-10">
              <%= f.text_field :descricao, class: "form-control", required:true %>
          </div>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="row">
          <div class="col-lg-12">
            <div class="panel blank-panel">
              <div class="panel-heading">
                <div class="panel-options">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Domínios Valores</a></li>
                     <li><a data-toggle="tab" href="#tab-2">Domínios Campos</a></li>
                  </ul>
                </div>
              </div>
              <div class="panel-body">
                <div class="tab-content">
                  <div id="tab-1" class="tab-pane active">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th width="10%"><%= f.link_to_add "Adicionar", :dominio_valores, class: "btn btn-primary insert_in_table" %></th>
                            <th width="30%">Código</th>
                            <th width="60%">Descrição</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%= f.fields_for :dominio_valores, :wrapper => false do|ff| %>
                            <tr class="fields">
                              <td><%= ff.link_to_remove "Excluir", :class => 'btn btn-white' %></td>
                              <td><%= ff.text_field :codigo , class: "form-control" %></td>
                              <td><%= ff.text_field :descricao , class: "form-control" %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                  </div>
                  <div id="tab-2" class="tab-pane">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th width="10%"><%= f.link_to_add "Adicionar", :dominio_campos, class: "btn btn-primary insert_in_table" %></th>
                          <th width="90%">Descrição</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%= f.fields_for :dominio_campos, :wrapper => false do |ff| %>
                          <tr class="fields">
                            <td><%= ff.link_to_remove "Excluir", :class => 'btn btn-white' %></td>
                            <td><%= ff.text_field :descricao , class: "form-control" %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4">
            <%= f.submit "Salvar", :class => 'btn btn-primary' %>
            <%= link_to 'Voltar', dominios_path, :class => 'btn btn-white' %>
          </div>
        </div>

      </form>
    </div>
  </div>
  </br>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    window.NestedFormEvents.prototype.insertFields = function(content, assoc, link) {
      if($(link).hasClass('insert_in_table')){
        var $tr = $(link).closest('table').find('tbody').append(content);
        return $tr;
      }
      else{
        return $(content).insertBefore(link);
      }
    };
  });
</script>
