<%- model_class = Empresa -%>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Empresa</h2>
        <ol class="breadcrumb">
            <!-- <li><a href="<%= url_for :controller => 'home', :action => 'index' %>">Home</a></li> -->
            <!-- <li class="active"><strong>Lista de usuários</strong></li> -->
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <p id="notice"><%= notice %></p>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-md-2 control-label">
             <%= model_class.human_attribute_name(:cnpj) %>:
           </div>
           <div class="col-md-10">
            <label class="form-control">
              <%= @empresa.cnpj %>
            </label>
          </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group">
          <div class="col-md-2 control-label">
           <%= model_class.human_attribute_name(:nome) %>:
         </div>
         <div class="col-md-10">
          <label class="form-control">
            <%= @empresa.nome %>
          </label>
        </div>
      </div>
      <div class="hr-line-dashed"></div>

      <div class="form-group">
        <div class="col-md-2 control-label">
         <%= model_class.human_attribute_name(:path_certificado) %>:
       </div>
       <div class="col-md-10">
        <label class="form-control">
          <%= @empresa.path_certificado %>
        </label>
      </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="form-group">
      <div class="col-md-2 control-label">
       <%= model_class.human_attribute_name(:senha_certificado) %>:
     </div>
     <div class="col-md-10">
      <label class="form-control">
        <%= @empresa.senha_certificado %>
      </label>
    </div>
  </div>

  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <div class="col-md-2 control-label">
     <%= model_class.human_attribute_name(:cod_uf) %>:
   </div>
   <div class="col-md-10">
    <label class="form-control">
      <%= @empresa.cod_uf %>
    </label>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <div class="col-md-2 control-label">
   <%= model_class.human_attribute_name(:ult_nsu) %>:
 </div>
 <div class="col-md-10">
  <label class="form-control">
    <%= @empresa.ult_nsu %>
  </label>
</div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <div class="col-md-2 control-label">
   <%= model_class.human_attribute_name(:max_nsu) %>:
 </div>
 <div class="col-md-10">
  <label class="form-control">
    <%= @empresa.max_nsu %>
  </label>
</div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel blank-panel">
      <div class="panel-heading">
        <div class="panel-options">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">Usuários</a></li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="30%">Id</th>
                  <th width="70%">Email</th>
                </tr>
              </thead>
              <tbody>
                <% @usuario_empresas.each do |ff| %>
                <tr class="fields">
                  <td><%= ff.id %></td>
                  <td><%= ff.email %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4">
    <%= link_to edit_empresa_path(@empresa), class: 'btn btn-primary' do %>
    Editar
    <% end %>
    <%= link_to 'Voltar', empresas_path, :class => 'btn btn-white' %>
    <%= link_to 'Novo', new_empresa_path, :class => 'btn btn-warning' %>

  </div>
</div>

</form>

</div>
</div>
</div>
</div>
