<% if user_signed_in? %>
    <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <!-- <a href="#" class="navbar-brand">SWS</a> -->
                <div align="center"><%= image_tag "logo_windsolution.png", height: '50', width: '150' %></div>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a aria-expanded="false" role="button" href="<%= url_for :controller => 'devise/registrations', :action => 'edit' %>"><%= current_user.email %></a>
                    </li>
                    <li>
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th-large"></i> Cadastros <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="<%= empresas_path %>"><i class="fa fa-university"></i> Empresas </a></li>
                            <li><a href="<%= users_path %>"><i class="fa fa-users"></i> Usuários </a></li>
                        </ul>
                    </li>
                    <li>
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-code"></i> Notas Fiscais <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="<%= nota_fiscais_path %>"><i class="fa fa-file-code-o"></i> Nfe's Manifesto </a></li>
                            <li><a href="<%= citacoes_nota_fiscais_path %>"><i class="fa fa-file-code-o"></i> Nfe's Citadas </a></li>
                            <li><a href="<%= home_index_path %>"><i class="fa fa-area-chart"></i> Dashboard </a></li>
                            <!-- <li><a href="<%#= crons_path %>"><i class="fa fa-linux"></i> Log(Cron) </a></li> -->
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "fa fa-sign-out" %></li>
                </ul>
            </div>
        </nav>
    </div>
<% end %>
